@CHARSET "UTF-8";
html, body { 
	background: url(../images/login/bg.jpg) 0px 0px no-repeat;
	background-size: cover;
	overflow-y: auto;
	overflow-x: hidden;
	font:normal 15px "Microsoft YaHei";
}

#register_center{
	
}

#register_area{
	margin: 0px auto;
	width: 1000px;
	height: 600px;
	position: relative;
}

#register_info{
	width: 800px;
	height: 500px;
	position: absolute;
	top: 50px;
	left: 100px;
	background-color: rgba(255,255,255,0.4);
}

#register_info_a{
	font-size: 20px;
	color: aqua;
	text-decoration:none;
}

#register_form{
	position: absolute;
	width: 400px;
	height: 80%;
	left: 200px;
	top: 100px;
}

#register_form tr{
	color: aqua;
	height: 50px;
	font-size: 25px;
}

#register_form input{
	font-size: 25px;
	color: aqua;
}