@CHARSET "UTF-8";
* { margin:0; padding:0; list-style:none;}
html, body { 
	background: url(../images/login/bg.jpg) 0px 0px no-repeat;
	background-size: cover;
	overflow-y: auto;
	overflow-x: hidden;
	font:normal 15px "Microsoft YaHei";
}

#div_center_form{
	width: 1200px;
	height: 700px;
	position: relative;
	margin: 0px auto;
	
}

#div_center_form label,select,input{
	font-size: 20px;
	font-family: "宋体";
	margin-top: 30px;
}

label{
	display: inline-block;
	width: 150px;
	text-align: right;
	
}

select,input{
	width: 250px;
}

#storeregister_form{
	width: 1000px;
	height: 65%;
	position: absolute;
	left: 100px;
	top: 15%;
	background-color: rgba(255,255,255,0.4);
}

#btn_1,#btn_2{
	height:50px;
}